<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="gazebo_imu" params="imu_name topic_ns" >
    <!-- Gazebo plugin for Laser Scan (RPLidar) -->
      <gazebo> 
        <plugin name="${imu_name}_plugin" filename="libhector_gazebo_ros_imu.so"> 
          <alwaysOn>true</alwaysOn> 
          <bodyName>${imu_name}_link</bodyName> 
          <topicName>${topic_ns}</topicName> 
          <serviceName>${topic_ns}_service</serviceName> 
          <gaussianNoise>0.0</gaussianNoise> 
          <updateRate>20.0</updateRate> 
        </plugin> 
      </gazebo>
  <!--gazebo>
    <plugin name="${imu_name}_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>${imu_name}_link</bodyName> 
      <frameName>${imu_name}_link</frameName>
      <topicName>${topic_ns}</topicName>
      <serviceName>${topic_ns}_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>200</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo-->
  </xacro:macro>
</robot>